<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dicoding.capstone" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone" >
        <activity
            android:name=".usersigin.ui.SigninActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".usersigin.ui.SignupActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:exported="true" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".utils.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AboutUsActivity"
            android:label="About Us"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.OptionActivity"
            android:label="@string/rekomendasi_obat"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.ListActivity"
            android:label="@string/list_semua_obat"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.DetailListActivity"
            android:label="@string/detail_obat"
            android:parentActivityName=".ui.ListActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:label="Home" />
    </application>

</manifest>